* {
    list-style: none;
    text-decoration: none;

}

html, body {
    min-height: 100vh;
}
/* HEADER */
.menu-container nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-container nav .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-container nav .navbar ul li {
    padding: 0.3em;
    margin: 0.3em;
}

/* MAIN */

.main-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    height: 70%;
}

/* ASIDE */

.main-container aside {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-menu{
    width: 20%;
    height: auto;
    text-align: center;
}

.aside-container ul li {
    
    width: 100%;
    height: auto;
    padding: 0.5em;
}

.main-container aside .aside-img {
    margin-bottom: 4em;
}

.content-container {
    margin: 0;
    padding-right: 1.6em;
    width: 70%;
    
}

.p-description{
    font-size: 1.5em;
}

.p-description span {
    color: blueviolet;
    font-style: italic;
}

/* FOOTER */

footer {
    background-image: url(./banner-header.png);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}

footer span {
    color: blueviolet;
}
